{% trans_default_domain 'FOSUserBundle' %}

{% set addToCollection = false %}

{% if showContent is not defined %}
    {% set showContent = true %}
{% endif %}

<div class="fos_user_user_show">

    {% if app.user and (app.user.id == user.id or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
        <div id="profile-details" class="panel panel-default pull-right">
            <div class="panel-heading">
                <h3 class="panel-title">Profile Details</h3>
            </div>
            <div class="panel-body">
                {{ 'profile.show.username'|trans }}: {{ user.username }}
                <br>
                {{ 'profile.show.email'|trans }}: {{ user.email }}
                <br><hr><br>
                {% if app.user.id == user.id %}
                    <form action="{{ path('user_change_profile_visibility', {'id': app.user.id}) }}" method="post"
                          class="inline">
                        <input type="submit" value="Make profile {% if app.user.private %}public{% else %}private{% endif %}"
                               class="btn btn-default"/>
                    </form>
                    <a href="{{ path('fos_user_change_password') }}">
                        <input type="button" value="Change password" class="btn btn-default"/>
                    </a>
                    <br>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <input type="button" value="Edit profile" class="btn btn-default"/>
                    </a>
                    <a href="{{ path('user_profile_delete_form') }}">
                        <input type="button" value="Delete account" class="btn btn-danger"/>
                    </a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_edit_user_form', {'id': user.id}) }}">
                        <input type="button" value="Edit user's account" class="btn btn-default"/>
                    </a>
                    <form action="{{ path('admin_delete_user', {'id': user.id}) }}" method="post"
                          class="inline">
                        <input type="submit" value="Delete user's account" class="btn btn-danger"/>
                    </form>
                {% elseif is_granted('ROLE_MODERATOR') %}
                    {% if user.isFrozen %}
                        <p><strong>The user account is frozen.</strong></p>
                        <form action="{{ path('moderator_unfreeze_user', {'id': user.id}) }}" method="post"
                              class="inline">
                            <input type="submit" value="Unfreeze account" class="btn btn-default"/>
                        </form>
                    {% elseif (user.hasRole('ROLE_USER') or user.hasRole('ROLE_MODERATOR')) and
                        (user.hasRole('ROLE_ADMIN') == false) %}
                        <a href="{{ path('moderator_freeze_user_form', {'id': user.id}) }}">
                            <input type="button" value="Freeze account" class="btn btn-default"/>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    <h2>{{ user.username }}</h2>
    <div id="profile-picture-container">
        <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.username }} profile picture"
             id="profile-picture" class="img-circle"/>
    </div>
    {% if showContent %}

        <div>
            <h3>
                {% if app.user and (app.user.id == user.id) %}Your{% else %}{{ user.username }}'s{% endif %}
                Tags
            </h3>
            <div>
                {% for tag in tags %}
                    <input type="button" value="{{ tag.value }}" class="btn btn-default"/>
                {% endfor %}
            </div>
            <h3>
                {% if app.user and (app.user.id == user.id) %}Your{% else %}{{ user.username }}'s{% endif %}
                NURLs
            </h3>
            <div>
                {% for entry in nurls %}
                    {% include 'default/nurl.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
