<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/global.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">NURL Mgr</a>
                </div>
                <div class="pull-right">
                    {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('fos_user_profile_show') }}">
                            <button class="btn btn-default">
                                Profile <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </button>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_page') }}">
                                <input type="button" value="Admin" class="btn btn-default navbar-btn"/>
                            </a>
                        {% elseif is_granted('ROLE_MODERATOR') %}
                            <a href="{{ path('moderator_page') }}">
                                <input type="button" value="Moderator" class="btn btn-default navbar-btn"/>
                            </a>
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <input type="button" value="Logout" class="btn btn-default navbar-btn"/>
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">
                            <input type="button" value="Log in" class="btn btn-default navbar-btn"/>
                        </a>
                        <a href="{{ path('fos_user_registration_register') }}">
                            <input type="button" value="Register" class="btn btn-default navbar-btn"/>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div id="wrapper" class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
