{% extends 'default/index.html.twig' %}

{% set addToCollection = false %}

{% block contents %}
    <div>
        <form action="{{ path('homepage_collections') }}" method="get" class="form-inline pull-right">
            <section class="form-group">
                <label for="public">public </label>
                <input type="checkbox" id="public" name="public" {% if public %} checked {% endif %}/>
            </section>
            <section class="form-group">
                <label for="own">own </label>
                <input type="checkbox" id="own" name="own" {% if own %} checked {% endif %}/>
            </section>
            <section class="form-group">
                <label for="shared">shared </label>
                <input type="checkbox" id="shared" name="shared" {% if shared %} checked {% endif %}/>
            </section>
            <input type="submit" value="Refresh" class="btn btn-default"/>
        </form>

        <a href="{{ path('collection_create_form') }}">
            <input type="button" value="Create new collection" class="btn btn-default"/>
        </a>

        <a href="{{ path('collection_search_form') }}">
            <input type="button" value="Search for a Nurl in collections" class="btn btn-default"/>
        </a>

        <a href="{{ path('homepage_collections') }}">Clear search</a>
    </div>
    {% for entry in collections %}
        {% set outerId = loop.index %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ entry.collection.title }}
                    {% if entry.collection.author.id == app.user.id %}
                        <em>(own {% if entry.collection.isPublic == true %}public{% else %}private{% endif %})</em>
                    {% else %}
                        <em>(shared from {{ entry.collection.author.username }})</em>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                {% if entry.collection.author.id == app.user.id %}
                    <div class="collection-menu">
                        {% if entry.collection.isPublic == false %}
                            <a href="{{ path('collection_make_public', {'id': entry.collection.id}) }}">
                                <button type="button" class="btn btn-default">
                                    Make public
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </a>
                        {% endif %}
                        <a href="{{ path('collection_share_form', {'id': entry.collection.id}) }}">
                            <button class="btn btn-default">
                                Share
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ path('collection_edit_form', {'id': entry.collection.id}) }}">
                            <button class="btn btn-default">
                                Edit
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </a>
                        <form action="{{ path('collection_delete', {'id': entry.collection.id}) }}" method="post"
                              class="form-inline inline">
                            <button type="submit" class="btn btn-default">
                                Delete
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                {% endif %}
                {% set accordionId = "accordion-#{outerId}" %}
                <div class="panel-group" id="{{ accordionId }}" role="tablist" aria-multiselectable="true">
                {% for nurl in entry.nurls %}
                    {% set expanded = loop.index == 1 ? true : false %}
                    {% set identifier = "#{outerId}-#{loop.index}" %}
                    {% include 'default/nurl.html.twig' with {'entry': nurl, 'collapsible': true} %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
