{% extends 'base.html.twig' %}

{% if nurl is not defined %}
    {% set nurl = null %}
{% endif %}

{% block body %}
    <h2>Create a Collection</h2>
    <form action="{{ path('collection_create') }}" method="post">
        <section class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required/>
        </section>
        <section class="form-group">
            <label for="nurls">NURLs</label>
            <select class="form-control" id="nurls" name="nurls[]" multiple required>
                <option value="">none</option>
                {% for nurl in nurls %}
                    <option value="{{ nurl.id }}">{{ nurl.title }}</option>
                {% endfor %}
            </select>
        </section>
        <section class="form-group">
            <label for="public">Make public</label>
            <input type="checkbox" id="public" name="public"/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
