{% extends 'base.html.twig' %}

{% block body %}
    <h2>Add NURL to collection</h2>
    <form action="{{ action }}" method="post">
        <section class="form-group">
            <label for="collection">Select the collection you want to add this NURL to</label>
            <select class="form-control" id="collection" name="collection" required>
                {% for collection in collections %}
                    <option value="{{ collection.id }}">{{ collection.title }}</option>
                {% endfor %}
            </select>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
