{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit a Collection</h2>
    <form action="{{ path('collection_edit', {'id': collection.id}) }}" method="post">
        <section class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required value="{{ collection.title }}"/>
        </section>
        <section class="form-group">
            <label for="nurls">Select the NURLS you want to remove from this collection</label>
                <select multiple class="form-control" id="nurls" name="nurls[]" required>
                    {% for nurl in nurls %}
                        <option value="{{ nurl.id }}">{{ nurl.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </section>
        <section class="form-group">
            <label for="public">Is public</label>
            <input type="checkbox" id="public" name="public" {% if collection.isPublic %}checked{% endif %}/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
