{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ title }}</h2>
    <form action="{{ action }}" method="get">
        <section class="form-group">
            <label for="{{ publicName }}">{{ publicName }} </label>
            <input type="checkbox" id="{{ publicName }}" name="{{ publicName }}" checked/>
            <br>
            <label for="{{ privateName }}">{{ privateName }} </label>
            <input type="checkbox" id="{{ privateName }}" name="{{ privateName }}" checked/>
            <br>
            {% block checkboxes %}{% endblock %}
        </section>
        <section class="form-group">
            <label for="{{ searchName }}">Text to search for:</label>
            <input type="text" class="form-control" id="{{ searchName }}" name="{{ searchName }}"/>
        </section>
        {% block formcontrols %}{% endblock %}
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}