{% extends 'base.html.twig' %}

{% block body %}
    <h2>Share a {{ entity }}</h2>
    <form action="{{ action }}" method="post">
        <section class="form-group">
            <label for="username">Enter the username of the user you want to share this {{ entity }} with: </label>
            <input type="text" id="username" class="form-control" name="username" required/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
