<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Frozen</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/global.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h2>Account frozen</h2>
        <p class="lead">
            Your account has been frozen by a moderator. You are now blocked from accessing the site.
        </p>
        {% if message %}
            <hr>
            <p><strong>Your account was frozen by:</strong> {{ message.moderator.username }}</p>
            <p><strong>The date and time was:</strong> {{ message.timestamp|date('h:m:s d-m-Y') }}</p>
            <p><strong>The reason given was:</strong> {{ message.description }}</p>
        {% endif %}
        <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>