{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if active_tab is not defined %}
            {% set active_tab = 'nurls' %}
        {% endif %}
       <ul class="nav nav-tabs" id="index-nav">
           <li role="presentation"
                   {% if active_tab == 'nurls' %}
                       class="active"
                   {% endif %}
           ><a href="/nurls">NURLs</a></li>
           <li role="presentation"
                   {% if active_tab == 'tags' %}
                       class="active"
                   {% endif %}
           ><a href="/tags">Tags</a></li>
           {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
               <li role="presentation"
                       {% if active_tab == 'collections' %}
                           class="active"
                       {% endif %}
               ><a href="/collections">Collections</a></li>
           {% endif %}
       </ul>
        {% block contents %}
        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
