{% extends 'base.html.twig' %}

{% block body %}
    <h2>Submit an issue</h2>
    <form action="{{ path('nurl_issue', {'id': id}) }}" method="post">
        <section class="form-group">
            <label for="issue-description">Please enter a detailed description of the issue:</label>
            <textarea class="form-control" id="issue-description" name="issue-description" required></textarea>
        </section>
        <section class="form-group">
            <label for="nurl-summary">Enter your email address (optional):</label>
            <input type="email" class="form-control" id="issue-email" name="issue-email"/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
