{% if collapsible is not defined %}
    {% set collapsible = false %}
{% endif %}

{% if identifier is not defined %}
    {% set identifier = '' %}
{% endif %}

{% if accordionId is not defined %}
    {% set accordionId = '' %}
{% endif %}

{% if expanded is not defined %}
    {% set expanded = true %}
{% endif %}

{% if addToCollection is not defined %}
    {% set addToCollection = true %}
{% endif %}

{% if search is not defined %}
    {% set search = false %}
{% endif %}

<div class="panel panel-default nurl">
    <div class="panel-heading" {% if collapsible %} role="tab" id="heading{{ identifier }}"{% endif %}>
        <h3 class="panel-title">
            {% if collapsible %}
                <a
                    {% if expanded == false %}
                        class="collapsed"
                    {% endif %}
                        role="button" data-toggle="collapse" data-parent="#{{ accordionId }}" href="#collapse{{ identifier }}"
                        aria-expanded="{{ expanded }}" aria-controls="collapse{{ identifier }}"
                >
            {% endif %}
            {{ entry.nurl.title }}
            {% if app.user and entry.nurl.author and app.user.id != entry.nurl.author.id and
                entry.nurl.isPublic == false %}
                <em>(shared from {{ entry.nurl.author.username }})</em>
            {% elseif entry.nurl.isPublic == false %}
                <em>(private)</em>
            {% endif %}
            {% if collapsible %}
                </a>
            {% endif %}
        </h3>
        <a href="{{ path('view_nurl', {'id': entry.nurl.id}) }}">[Goto] </a>
    </div>
    <div id="collapse{{ identifier }}" class="panel-collapse collapse
         {% if expanded == true %}
            in
         {% endif %}"
         role="tabpanel" aria-labelledby="heading{{ identifier }}">
        <div class="panel-body">
            <div class="nurl-options">
                {% if app.user and addToCollection %}
                    <a href="{{ path('collection_add_nurl_form', {'id': entry.nurl.id}) }}">
                        <button class="btn btn-default">
                            Add to a collection
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </a>
                {% endif %}
                {% if app.user and entry.nurl.author and entry.nurl.author.id == app.user.id %}
                        {% if entry.nurl.isPublic == false %}
                            <form action="{{ path('nurl_make_public', {'id': entry.nurl.id}) }}" method="post"
                                  class="form-inline inline">
                                <button type="submit" class="btn btn-default">
                                    Make public
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </form>
                        {% endif %}
                        <a href="{{ path('nurl_share_form', {'id': entry.nurl.id}) }}">
                            <button class="btn btn-default">
                                Share
                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ path('nurl_edit_form', {'id': entry.nurl.id}) }}">
                            <button class="btn btn-default">
                                Edit
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                        </a>
                        <form action="{{ path('nurl_delete', {'id': entry.nurl.id}) }}" method="post"
                              class="form-inline inline">
                            <button type="submit" class="btn btn-default">
                                Delete
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </form>
                {% endif %}
            </div>
            <div class="nurl-info">
                <span class="nurl-tags">
                    {% for tag in entry.tags %}
                        <span class="label label-default
                            {% if search and tag.id in search.tags %}tag-highlight{% endif %}"
                        >{{ tag.value }}</span>
                    {% endfor %}
                </span>
                <span class="nurl-author">
                    <em>Author: </em>
                    {% if entry.nurl.author %}
                        <a href="{{ path('user_public_profile', {'id': entry.nurl.author.id}) }}">
                            {{ entry.nurl.author.username }}
                        </a>
                    {% else %}
                        (anonymous user)
                    {% endif %}
                    <em style="margin-left: 20px;">Created: {{ entry.nurl.created|date('d/m/Y') }}</em>
                </span>
                <span class="nurl-report pull-right">
                    {% if entry.nurl.isPublic and (app.user == null or (entry.nurl.author == null
                        or app.user.id != entry.nurl.author.id)) %}
                        <a href="{{ path('nurl_report_issue_form', {'id': entry.nurl.id}) }}">
                            [Report an issue]
                        </a>
                    {% endif %}
                </span>
            </div>
            <br>
            <strong>Summary: </strong>
            {{ entry.nurl.summary }}
            <hr>
            {{ entry.nurl.content }}
        </div>
    </div>
</div>

{% block javascripts%}
    {% if search %}
        <script>
            var search = "{{ search.text }}";

            if(search) {
                var nurls = $('.nurl');

                for (var i = 0; i < nurls.length; i++) {
                    var html = $(nurls[i]).html();
                    var span = '<span class="highlight">' + search + '</span>';
                    html = html.replace(new RegExp(search, 'g'), span);
                    $(nurls[i]).html(html);
                }
            }

        </script>
    {% endif %}
{% endblock %}
