{% extends 'base.html.twig' %}

{% if nurl is not defined %}
    {% set nurl = null %}
{% endif %}

{% if tags is not defined %}
    {% set tags = null %}
{% endif %}

{% block body %}
    <h2>{{ title }}</h2>
    <form action="{{ action }}" method="post">
        <section class="form-group">
            <label for="nurl-title">Title:</label>
            <input type="text" class="form-control" id="nurl-title" name="nurl-title" required
                {% if nurl %} value="{{ nurl.title }}" {% endif %}/>
        </section>
        <section class="form-group">
            <label for="nurl-summary">Summary:</label>
            <textarea class="form-control" id="nurl-summary" name="nurl-summary" required>{% if nurl %}{{ nurl.summary }}{% endif %}</textarea>
        </section>
        <section class="form-group">
            <label for="nurl-content">Content:</label>
            <textarea class="form-control" id="nurl-content" name="nurl-content" required>{% if nurl %}{{ nurl.content }}{% endif %}</textarea>
        </section>
        {% if type == 'edit' %}
            <strong>Current tags:</strong>
            {% for tag in edit_tags %}
                <section class="form-group">
                    <label>{{ tag.value }}</label>
                    <input type="checkbox" value="{{ tag.id }}" checked name="edit-tags[]"/>
                </section>
            {% endfor %}
            <section class="form-group">
                <label for="new-tags">Add Tags: </label>
                <select class="form-control" id="new-tags" name="new-tags[]" multiple>
                    <option value="" selected>none</option>
                    {% for tag in new_tags %}
                        <option value="{{ tag.id }}">{{ tag.value }}</option>
                    {% endfor %}
                </select>
            </section>
        {% else %}
            <section class="form-group">
                <label for="nurl-tags">Tags: </label>
                <select class="form-control" id="nurl-tags" name="nurl-tags[]" multiple>
                    <option value="" selected>none</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.value }}</option>
                    {% endfor %}
                </select>
            </section>
        {% endif %}
        {% if is_granted('ROLE_USER') and nurl == null %}
            <section class="form-group">
                <label for="private">Keep private: </label>
                <input type="checkbox" id="private" name="private" checked/>
            </section>
        {% endif %}
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
