{% extends 'default/entity_search.html.twig' %}

{% block checkboxes %}
    <label for="{{ sharedName }}">{{ sharedName }} </label>
    <input type="checkbox" id="{{ sharedName }}" name="{{ sharedName }}" checked/>
{% endblock %}

{% block formcontrols %}
    <section class="form-group">
        <label for="created-from">Creation date (from)</label>
        <input type="date" class="form-control" id="created-from" name="created-from"/>
    </section>
    <section class="form-group">
        <label for="created-to">Creation date (to)</label>
        <input type="date" class="form-control" id="created-to" name="created-to"/>
    </section>
    <section class="form-group">
        <label for="edited-from">Last edit date (from)</label>
        <input type="date" class="form-control" id="edited-from" name="edited-from"/>
    </section>
    <section class="form-group">
        <label for="edited-to">Last edit date (to)</label>
        <input type="date" class="form-control" id="edited-to" name="edited-to"/>
    </section>
    <section class="form-group">
        <label for="tags">Select tag to match: </label>
        <select multiple class="form-control" id="tags" name="tags[]">
            <option value="" selected>none</option>
            {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.value }}</option>
            {% endfor %}
        </select>
    </section>
{% endblock %}


