{% extends 'default/index.html.twig' %}

{% block contents %}
    <div id="nurl-menu">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <form action="{{ path('homepage_nurls') }}" method="get" class="form-inline pull-right">
                <section class="form-group">
                    <label for="public">public </label>
                    <input type="checkbox" id="public" name="public" {% if public %} checked {% endif %}/>
                </section>
                <section class="form-group">
                    <label for="private">private </label>
                    <input type="checkbox" id="private" name="private" {% if private %} checked {% endif %}/>
                </section>
                <section class="form-group">
                    <label for="shared">shared </label>
                    <input type="checkbox" id="shared" name="shared" {% if shared %}checked{% endif %}/>
                </section>
                <input type="submit" value="Refresh" class="btn btn-default"/>
            </form>
        {% endif %}
        <a href="{{ path('nurl_submission_form') }}">
            <input type="button" value="Submit new NURL" class="btn btn-default">
        </a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('nurl_search_form') }}">
                <input type="button" value="Search for a NURL" class="btn btn-default"/>
            </a>
            <a href="{{ path('homepage_nurls') }}">Clear search</a>
        {% endif %}
    </div>
    {% for entry in nurls %}
        {% include 'default/nurl.html.twig' %}
    {% endfor %}
{% endblock %}
