{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit a Tag</h2>
    <form action="{{ path('tag_edit', {'id': tag.id}) }}" method="post">
        <section class="form-group">
            <label for="tag-content">Please enter the tag text:</label>
            <input type="text" class="form-control" value="{{ tag.value }}" id="tag-content"
                   name="tag-content" required/>
        </section>
        <section class="form-group">
            <label for="tag-public">Should the tag be public :</label>
            <input type="checkbox" id="tag-public" name="tag-public" {% if tag.isPublic %}checked{% endif %}/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
