{% extends 'base.html.twig' %}

{% block body %}
    <h2>Add this tag to a NURL</h2>
    <input type="button" value="{{ tag.value }}" class="btn btn-default"/>
    <form action="{{ path('tag_add_nurl', {'id': tag.id}) }}" method="post">
        <section class="form-group">
            <label for="nurl">Select a NURL</label>
            <select class="form-control" name="nurl" id="nurl" required>
                {% for nurl in nurls %}
                    <option value="{{ nurl.id }}">{{ nurl.title }}</option>
                {% endfor %}
            </select>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
