{% extends 'default/index.html.twig' %}

{% if personal_tags is not defined %}
    {% set personal_tags = false %}
{% endif %}

{% block contents %}
    <h2>Submit your own tag</h2>
    <form action="{{ path('tag_submit') }}" method="post" class="form-inline">
        <section class="form-group">
            <label for="new-tag">Tag text: </label>
            <input type="text" class="form-control" id="new-tag" name="new-tag" required />
        </section>
        <section class="form-group">
            <label for="public">Make public: </label>
            <input type="checkbox" id="public" name="public"/>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>

    {% if personal_tags %}
        <h2>Personal Tags</h2>
        {% for tag in personal_tags %}
            <span>
                <a href="{{ path('tag_edit_form', {'id': tag.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <form action="{{ path('tag_delete', {'id': tag.id}) }}" method="post" class="inline">
                    <a><span class="glyphicon glyphicon-trash" aria-hidden="true" id="tag-delete"></span></a>
                </form>
                <a href="{{ path('tag_add_nurl_form', {'id': tag.id}) }}">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
                <a href="{{ path('homepage_nurls', {'tag': tag.id}) }}">
                    <input type="button" value="{{ tag.value }}" class="btn btn-default btn-lg"/>
                </a>
            </span>
        {% endfor %}
    {% endif %}

    <h2>Accepted Tags</h2>
    {% for tag in accepted_tags %}
        <span>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('tag_add_nurl_form', {'id': tag.id}) }}">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            {% endif %}
            <a href="{{ path('homepage_nurls', {'tag': tag.id}) }}">
                <input type="button" value="{{ tag.value }}" class="btn btn-default btn-lg"/>
            </a>
        </span>
    {% endfor %}

    <h2>Proposed Tags</h2>
    {% for tag in proposed_tags %}
        <span class="tag-wrapper">
            <span class="tag-vote-container">
                <form action="{{ path('tag_up_vote', {'id': tag.id}) }}" method="post" class="inline">
                    <span class="glyphicon glyphicon-arrow-up vote up-vote" aria-hidden="true"></span>
                </form>
                <span class="tag-vote-count">{{ tag.votes }}</span>
                <form action="{{ path('tag_down_vote', {'id': tag.id}) }}" method="post" class="inline">
                    <span class="glyphicon glyphicon-arrow-down vote down-vote" aria-hidden="true"></span>
                </form>
            </span>
            <input type="button" value="{{ tag.value }}" class="btn btn-default btn-lg"/>
        </span>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/tags.js') }}"></script>
{% endblock %}