{% extends 'base.html.twig' %}

{% block body %}
    <h2>Delete account {{ app.user.username }}?</h2>
    <form action="{{ path('user_profile_delete') }}" method="post">
        <section class="form-group">
            <label for="password">Please confirm your password</label>
            <input type="password" class="form-control" id="password" name="password" required/>
        </section>
        <input type="submit" value="Delete" class="btn btn-default"/>
    </form>
{% endblock %}
