{% extends 'base.html.twig' %}

{% block body %}
    <h2>Admin page</h2>
    <p>Here are all the special options available to you as a site administrator.</p>
    <div>
        <a href="{{ path('admin_create_user_form') }}">
            <input type="button" value="Create new user account" class="btn btn-default"/>
        </a>
        <a href="{{ path('admin_select_user') }}">
            <input type="button" value="Select an existing user" class="btn btn-default"/>
        </a>
    </div>
{% endblock %}
