{% extends 'base.html.twig' %}

{% block body %}
    <h2>Select the user account you want to edit or delete and then select the action you want to perform.</h2>
    <div>
        <form action="#" method="get" id="form">
            <section class="form-group">
                <label for="users">Users</label>
                <select class="form-control" id="users" name="user">
                    {% for user in users %}
                        <option value="{{ user.id }}">
                            {{ user.username }}{% if user.isFrozen %} <em>(frozen)</em>{% endif %}
                        </option>
                    {% endfor %}
                </select>
            </section>
            <input type="button" class="btn btn-default" value="Edit user" id="edit-button">
            <input type="button" class="btn btn-danger" value="Delete user" id="delete-button">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            $('#edit-button').click(function() {
                var form = $('#form');
                var userId = $('#users').val();
                var path = "{{ path('admin_edit_user_form', {'id': 'PLACEHOLDER'}) }}";
                $(form).attr('action', path.replace('PLACEHOLDER', userId));
                $(form).attr('method', 'get');
                $(form).submit();
            });

            $('#delete-button').click(function() {
                var form = $('#form');
                var userId = $('#users').val();
                var path = "{{ path('admin_delete_user', {'id': 'PLACEHOLDER'}) }}";
                $(form).attr('action', path.replace('PLACEHOLDER', userId));
                $(form).attr('method', 'post');
                $(form).submit();
            });
        })();
    </script>
{% endblock %}
