a {
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

#wrapper {
    margin-top: 80px;
}

#index-nav {
    margin-bottom: 10px;
}

#nurl-menu {
    padding: 5px;
}

#nurl-menu > * {
    margin: 2px 5px;
}

/*.nurl-vote-container .vote {*/
    /*margin-top: 5px;*/
/*}*/

.nurl .panel-title {
    display: inline-block;
}

.nurl-info > span {
    margin: 0 10px;
}

.vote {
    font-size: 18px;
    cursor: pointer;
}

.up-vote {
    color: #33b5e5;
}

.up-vote:hover {
    color: #0099cc;
}

.down-vote {
    color: #ff4444;
}

.down-vote:hover {
    color: #cc0000;
}

.inline {
    display: inline;
}

#profile-picture {
    width: 200px;
    height: 180px;
}

.simple-black-border {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.highlight {
    background-color: yellow;
}

.tag-highlight {
    background-color: yellow;
    color: black;
}
