{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <section class="form-group">
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
            class="form-control"/>
    </section>

    <section class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" class="form-control" />
    </section>

    <section class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="checkbox" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </section>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
           class="btn btn-default" />
</form>
