{% extends 'base.html.twig' %}

{% block body %}
    <h2>Freeze user account</h2>
    <form action="{{ path('moderator_freeze_user', {'id': id}) }}" method="post">
        <section class="form-group">
            <label for="description">Describe your decision for freezing user account: </label>
            <textarea class="form-control" id="description" name="description" required></textarea>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
