{% extends 'base.html.twig' %}

{% set addToCollection = false %}

{% block body %}
    <h2>Moderator page</h2>
    <a href="{{ path('moderator_issue_archive') }}">
        <input type="button" value="Issue Archive" class="btn btn-default"/>
    </a>
    <div>
        <h3>Pending NURLs</h3>
        <div>
            {% for entry in pending %}
                <div style="border: 1px solid black; padding: 4px; margin: 4px; border-radius: 5px;">
                    <form action="{{ path('moderator_accept_nurl', {'id': entry.nurl.id}) }}" method="post"
                          class="form-inline inline">
                        <button type="submit" class="btn btn-default">
                            Accept
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </form>
                    <form action="{{ path('moderator_reject_nurl', {'id': entry.nurl.id}) }}" method="post"
                          class="form-inline inline">
                        <button type="submit" class="btn btn-default">
                            Reject
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </form>
                    {% include 'default/nurl.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <h3>Reported NURLs</h3>
        <div>
            {% for entry in reported %}
                <div style="border: 1px solid black; padding: 4px; margin: 4px; border-radius: 5px;">
                    {% for issue in entry.issues %}
                        <p><strong>Message:</strong> {{ issue.description }}</p>
                        <p><em>Reported on: {{ issue.timeStamp|date('h:i:s d-m-Y') }}</em></p>
                    {% endfor %}
                    <a href="{{ path('moderator_unfreeze_nurl_form', {'id': entry.nurl.id}) }}">
                        <input type="button" value="Unfreeze" class="btn btn-default"/>
                    </a>
                    <a href="{{ path('moderator_delete_nurl_form', {'id': entry.nurl.id}) }}">
                        <input type="button" value="Delete" class="btn btn-default"/>
                    </a>
                    {% include 'default/nurl.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <h3>Frozen accounts</h3>
        {% for account in frozen_accounts %}
            <div class="simple-black-border">
                <p>Frozen at: {{ account.freeze.timeStamp|date('h:i:s d-m-Y') }}</p>
                <p>Reason you froze this account: {{ account.freeze.description }}</p>
                <strong>
                    <a href="{{ path('user_public_profile', {'id': account.user.id}) }}">
                        {{ account.user.username }}
                    </a>
                </strong>
            </div>
        {% endfor %}
    </div>
{% endblock %}
