{% extends 'base.html.twig' %}

{% set addToCollection = false %}

{% block body %}
    <h2>Issue archive</h2>
    <div>
        {% for entry in archive %}
            <div class="simple-black-border">
                <div>
                    <div>
                        <strong>Message:</strong> {{ entry.message.message }}
                        <strong>Date:</strong> {{ entry.message.timeStamp|date('h:i:s d-m-Y') }}
                        <strong>Decision:</strong>
                            {% if entry.message.deleted %}Deleted the NURL{% else %}Unfroze the NURL{% endif %}
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>{{ entry.nurl.title }}</h3>
                                <a href="{{ path('view_nurl', {'id': entry.nurl.id}) }}">
                                    [Goto]
                                </a>
                            </div>
                        </div>
                        <br>
                        <h4>Issues resolved:</h4>
                        {% for issue in entry.issues %}
                            <div class="simple-black-border">
                                <p><strong>Date:</strong> {{ issue.timeStamp|date('h:i:s d-m-Y') }}</p>
                                <p><strong>Description:</strong> {{ issue.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
