{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ title }}</h2>
    <form action="{{ action }}" method="post">
        <section class="form-group">
            <label for="message">Message regarding your decision: </label>
            <textarea class="form-control" id="message" name="message" required></textarea>
        </section>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
{% endblock %}
